<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <!-- Animate CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">
  <noscript><link rel="stylesheet" href="{{ url_for('static', filename='assets/css/noscript.css') }}" /></noscript>
  <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/main.css') }}" />

  <title>{{query}}</title>
</head>

<!-- sticky-top navbar displaying the counter -->
<nav class="navbar navbar-light bg-light sticky-top">
  <div class="container">
    <a class="navbar-brand" id="loaded" href="#">0 items loaded</a>
  </div>
</nav>

<body>

  <main class="mt-3">

    <div class="container">
      <div class="row">
        <div class="col">

          <h1 class="display-4 mb-3">Infinite load</h1>

          <div id="scroller" class="row">
            <template id="post_template">
              <article class="col mb-5 mr-3">
                <div class="card" style="width: 20rem; height: 100%;">
                  <img class="card-img-top" id="imageimage" style="width: 100%; height: 200px; object-fit: cover;">
                  <div class="card-body">
                    <a href="" id="titleLink" target="_BLANK">
                      <h5 class="card-title" id="title" >Card title</h5>
                    </a>
                    <a class="card-link" id="link" target="_BLANK"></a>
                    <p class="card-text" id="content">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary" id="preview">Preview
                      <div class="iframe-preview">
                        <iframe id="iframe" src="" style="border:0px #FFFFFF none;" name="test" scrolling="yes" frameborder="0" marginheight="0px" marginwidth="0px" height="2000px" width="1000px"></iframe>
                      </div>
                    </a>
                  </div>
                </div>
              </article>
            </template>
          </div>

        
          <!-- <div id="scroller" class="carousel">
            <template id="post_template" class="reel">
              <article>
                  <a class="image featured"><img id="imageimage"/></a>
                  <a id="setinner"></a>
                  <header>
                    <h3><a class="card-title" id="title" href="#"></a></h3>
                    <h7><p><a class="card-link" id="link"></a></p></h7>
                  </header>
                  <span class="text-muted" id="content"></span>
                  <span class="text"> Preview
                      <div class="iframe-preview">
                        <iframe id="iframe" src="" style="border:0px #FFFFFF none;" name="test" scrolling="yes" frameborder="0" marginheight="0px" marginwidth="0px" height="2000px" width="1000px"></iframe>
                      </div>
                      </span>
              </article>
            </template>
          </div> -->

          <!-- element to trigger the IntersectionObserver -->
          <div class="d-flex justify-content-center mb-3" id="sentinel">
            <div class="spinner-border" role="status"></div>
          </div>

        </div>
      </div>
    </div>

  </main>

  <!-- Import Bootstrap JS here -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

<script>

    var scroller = document.querySelector("#scroller");
    var template = document.querySelector('#post_template');
    var loaded = document.querySelector("#loaded");
    var sentinel = document.querySelector('#sentinel');
    var image = document.querySelector('#imageimage');
    var iframe = document.querySelector('#iframe');

    // Set a counter to count the items loaded
    var counter = 0;

    // Function to request new items and render to the dom
    async function loadItems() {

      // Use fetch to request data and pass the counter value in the QS
      fetch(`/load?c=${counter}`).then(
        (response) => {
          response.json().then(
            (data) => {
              if (!data.length) {
                  // Replace the spinner with "No more posts"
                  sentinel.innerHTML = "No more posts";
                  return;
              }

              for (var i = 0; i < data.length; i++) {

                let template_clone = template.content.cloneNode(true);
                
                template_clone.querySelector("#imageimage").setAttribute("href",`${data[i][1]}`)
                template_clone.querySelector("#imageimage").setAttribute("alt",`${data[i][0]}`)
                template_clone.querySelector("#title").innerHTML = `${data[i][0]}`
                template_clone.querySelector("#titleLink").setAttribute("href", `${data[i][1]}`)
                template_clone.querySelector("#content").innerHTML = data[i][2];
                template_clone.querySelector("#link").innerHTML = `${data[i][1]}`;
                template_clone.querySelector("#link").setAttribute("href", `${data[i][1]}`);
                template_clone.querySelector("#iframe").setAttribute("src", `${data[i][1]}`);
                template_clone.querySelector("#preview").setAttribute("href", `${data[i][1]}`);
                
                
                async function get_image(){
                  fetch(`/getimg?link=${data[i][1]}`).then(
                    (response) => {
                      response.json().then(
                        (url) => {
                          template_clone.querySelector("#imageimage").setAttribute("src",url)
                          scroller.appendChild(template_clone);
                          return
                        }
                      )
                    }
                  )
                }

                get_image();


                // Increment the counter
                counter += 1;

                // Update the counter in the navbar
                loaded.innerText = `${counter} items loaded ${data.length}`;

              }
            }
          )
        }
      )
    }

    // Create a new IntersectionObserver instance
    var intersectionObserver = new IntersectionObserver(entries => {

    // Uncomment below to see the entry.intersectionRatio when
    // the sentinel comes into view

    // entries.forEach(entry => {
    //   console.log(entry.intersectionRatio);
    // })

    // If intersectionRatio is 0, the sentinel is out of view
    // and we don't need to do anything. Exit the function
    if (entries[0].intersectionRatio <= 0.1) {
        return;
    }

    // Call the loadItems function
    loadItems();

    });

    // Instruct the IntersectionObserver to watch the sentinel
    intersectionObserver.observe(sentinel);


</script>

</body>

</html>
