@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,400,400italic,600");
@import url("fontawesome-all.min.css");

/*
	Helios by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
*/

html, body, div, span, applet, object,
iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite,
code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b,
u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, ruby,
section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;}

	a#link {
		font-size: 85%;
		font-style: italic;
	}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;}


/* Basic */

	html {
		box-sizing: border-box;
	}

	*, *:before, *:after {
		box-sizing: inherit;
	}

	body {
		background: #f0f4f4;
		color: #5b5b5b;
		font-size: 15pt;
		line-height: 1.85em;
		font-family: 'Source Sans Pro', sans-serif;
		font-weight: 300;
	}

		body.is-preload *, body.is-preload *:before, body.is-preload *:after {
			-moz-animation: none !important;
			-webkit-animation: none !important;
			-ms-animation: none !important;
			animation: none !important;
			-moz-transition: none !important;
			-webkit-transition: none !important;
			-ms-transition: none !important;
			transition: none !important;
		}

	input, textarea, select {
		font-size: 15pt;
		line-height: 1.85em;
		font-family: 'Source Sans Pro', sans-serif;
		font-weight: 300;
	}

	h1, h2, h3, h4, h5, h6 {
		font-weight: 400;
		color: #483949;
		line-height: 1.25em;
	}

	h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
		color: inherit;
		text-decoration: none;
		border-bottom-color: transparent;
	}

	h1 strong, h2 strong, h3 strong, h4 strong, h5 strong, h6 strong {
		font-weight: 600;
	}

	h2 {
		font-size: 2.85em;
	}

	h3 {
		font-size: 1.25em;
	}



	sup {
		position: relative;
	}

	

	p {
		margin-bottom: 2em;
	}

	p {
		/* text-align: justify; */
	}

	br.clear {
		clear: both;
	}

		hr:before {
			left: -1px;
		}

		hr:after {
			right: -1px;
		}

	.timestamp {
		color: rgba(128, 128, 128, 0.75);
		font-size: 0.8em;
	}



/* Sections/Article */




		header  p {
			display: block;
			font-size: 1.5em;
			line-height: 1.5em;
			text-align: inherit;
		}

	footer {
		margin: 2.5em 0 0 0;
	}

/* Image */

	.image {
		position: relative;
		display: inline-block;
	}

		.image img {
			display: block;
			width: 100%;
		}

.carousel article {
			display: inline-block;
			margin: 0 2em 0 0;
		
			
		}
			.carousel article .image {
				position: relative;
				left: -1em;
				
				margin-right: -2em;
				margin-bottom: 2em;
			}

			.carousel article p {
			}
	
/* Wide */

@media screen and (max-width: 1680px) {

	/* Basic */

		body {
			font-size: 14pt;
			line-height: 1.75em;
		}


	/* Carousel */

		.carousel {
			padding: 1.5em 0 1.5em 0;
		}

			.carousel .reel {
				padding: 0 1.5em 0 1.5em;
			}

			.carousel article {
				width: 18em;
				margin: 0 0 1.25em 0;
			}

		.card-link{
			font-size: smaller;
		}

}
.text {
	  cursor: default;
	  display: block;
	  position: relative;
	  border: 2px solid #ddd;
	  padding: 5px;
	  border-radius: 3px;
	  font-size: 12px;
}
/* .text:hover .iframe-preview {
opacity: 1;
-webkit-transform: translateX(-50%) translateY(0) scale(3);
	  transform: translateX(-50%) translateY(0) scale(3);
} */
.text:hover {
box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
border-color: #333;
}

.btn-primary :hover .iframe-preview {
	opacity: 1;
	-webkit-transform: translateX(-50%) translateY(0) scale(3);
		  transform: translateX(-50%) translateY(0) scale(3);
}

.iframe-preview {
transition: .7s ease-in-out opacity, .2s ease-in-out transform;
opacity:0;
position: absolute;
bottom: 110%;
left: 50%;
box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
width: 50%;
padding-right: 30px;
height: 25%;
border: 4px solid #fff;
overflow-x: hidden;
overflow-y: hidden;
-webkit-transform-origin: 50% bottom;
	  transform-origin: 50% bottom;
z-index: 1000;

}
.iframe-preview iframe {
-webkit-transform: scale(0.25);
	  transform: scale(0.25);
-webkit-transform-origin: 0 0;
	  transform-origin: 0 0;
}

#content {
	width: 80%;
	overflow: scroll;
}






